.boton{
    background-color: #6278F7;
    border-radius: 10px;
    font-weight: 700;
    font-family: Montserrat;
    padding: 24px 32px;
    border: none;
    color: #FFF;
    margin: 31px 0;
    cursor: pointer;
    transition: all 0.2s;
}

.boton:hover {
    color: #95FFD4;
}